# Aspatial data manipulation: Numpy and Pandas

## 1. Numpy

NumPy is the fundamental package for scientific computing in Python. It is a Python library that provides a multidimensional array object, various derived objects (such as masked arrays and matrices), and an assortment of routines for fast operations on arrays, including mathematical, logical, shape manipulation, sorting, selecting, I/O, discrete Fourier transforms, basic linear algebra, basic statistical operations, random simulation and much more.
<br><br>

You can import the numpy library as shown below:
```python
import numpy as np
```

source: https://numpy.org/doc/stable/

In [1]:
import numpy as np

The core of the `numpy` package is the `array` class. Let's examine that first. We can make an array out of a sequence, like a list.

In [ ]:
d = [1, 2, 3, 4, 5, 6]
np.array(d)

Note that arrays must be "homogeneous", unlike `list`, in that the data types of each element must be the same. The data type of the array is upcast to be able to represent all of the data. So, if only one element is a float, all elements will be converted to floats.

In [ ]:
d = [1, 2, 3.1415, 4, 5, 6]
np.array(d)

Arrays are like multidimensional sequences. We can create a 2D array by supplying a list of lists as the argument.

In [ ]:
arr = np.array([[1., 2., 3.,], [4., 5., 6.]])
print(arr.shape)
arr

You can set the `array.shape` attribute to change the shape of the array. This attribute does not change the elements of the array, or how it is stored in memory, just how it is seen.

In [ ]:
arr.shape = (3, 2)
print(arr.shape)
arr

---
### *Exercise*

1. Create an array, named `arr1`, that has value from 1 through 9. 
2. Assign `arr1` to `arr2` and resize the array into 3 by 3 (3 rows and 3 columns). 

---

In [ ]:
# Your code here
arr1 =
arr2 =

In [ ]:
""" Test code for the previous function. This cell should NOT give any errors when it is run."""

# Check your result here. 
assert np.array_equiv(arr1, np.array(list(range(1, 10))))
assert arr2.shape == (3,3)

print("Success!")

## 2. Pandas

`pandas` is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It is built on top of `NumPy` and is intended to integrate well within a scientific computing environment with many other 3rd party libraries.
<br><br>
You can import the `pandas` library as shown below:
```python
import pandas as pd
```
### Data Structure

| Diemensions | Name | Description | Usage |
| :-: | :-: | :-: | :-: |
| 1D | Series | 1D labeled homogeneously-typed array | pd.Series() |
| 2D | DataFrame | General 2D labeled, size-mutable tabular structure <br> with potentially heterogeneously-typed column | pd.DataFrame() |


source: https://pandas.pydata.org/docs/getting_started/overview.html

### Difference between Numpy and Pandas
| Comparision | Numpy | Pandas | 
| :-: | :-: | :-: |
| Input data | Preferable for Numerical data | Prefereable for Tabular data |
| Objects | Array | Data frame and Series |
| Efficiency | Memory efficient | Comsume more memory |
| Data size | Better performance for 50 K or less | Better performance for 500 K or more rows |
| Indexing | Very fast indexing | Relatively slow indexing |
| Data demension | Can represent up to 2D with DataFrame <br> Panel used to handle 3D data but deprecated in 0.24.0 | Multi-dimension data presentation <br> with multi-dimensional arrays (ndarray) |

source: https://www.geeksforgeeks.org/difference-between-pandas-vs-numpy/

In [ ]:
import pandas as pd
pd.__version__ # Check your pandas version

### 2.1. Importing data
You can import existing dataset with the various formats, such as excel, csv, tsv, or json, but not limited to. <br> Check out https://pandas.pydata.org/docs/reference/io.html. <br>

#### Covered functions
* <a href=https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html> pd.read_excel() </a> <br>
* <a href=https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html> pd.read_csv() </a><br>
* <a href=https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html>df.shape</a><br>
* <a href=https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html?> df.head() </a><br>

#### Notes
* Functions: Standalone blocks of code, called with parentheses (e.g., function_name()).
* Methods: Functions associated with objects, also called with parentheses (e.g., object.method()).
* Attributes: Data or properties of an object, accessed without parentheses (e.g., object.attribute).

In [ ]:
# Load the data with pandas using .read_csv()
# Source: https://data.seoul.go.kr/dataList/OA-15969/S/1/datasetView.do#
df = pd.read_csv('./data/SDoT_DDM_20230102_20230108.csv')
df

In [ ]:
# shape returns the number of rows and columns in the dataframe
# the first value is the number of rows, the second value is the number of columns
df.shape

In [ ]:
# Checking the columns of the DataFrame
df.columns

In [ ]:
# Checking the first 5 rows of the dataframe
df.head()

In [ ]:
# You can specify the number of rows you want to see
df.head(3)

In [ ]:
# Check the contents of a column
df['Serial_Num']

In [ ]:
# Check the unique contents of a column
df['Serial_Num'].unique()

In [ ]:
# Check the number of unique contents of a column
df['Serial_Num'].nunique()

In [ ]:
# Check the number of times each unique content appears in a column
df['Serial_Num'].value_counts()

### 2.2. Slicing dataframes
* <a href=https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.at.html?> df.at </a>: Access a single value for a row/column label pair.
* <a href=https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html> df.loc </a>: Access a group of rows and columns by label(s).
* <a href=https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iat.html> df.iat </a>: Access a single value for a row/column pair by integer position.
* <a href=https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html> df.iloc </a>: Access a group of rows and columns by integer position(s).

In [ ]:
df.head()

In [ ]:
df.iat[0, 1]

In [ ]:
df.at[0, 'Serial_Num']

In [ ]:
df.iloc[0, 1]

In [ ]:
df.loc[0, 'Serial_Num']

In [ ]:
df.iloc[0:3, 1:3]

In [ ]:
df.loc[0:3, ['Serial_Num','Year', 'Month']]

### 2.3. Selecting rows (records) based on a condition

Pandas provides a method called `loc` to select rows based on a condition. 
The syntax is as shown below. 

```python
DataFrame.loc[`row condition`, `column condition`] 
```

If you leave the column condition empty, it will select all columns.

In [ ]:
df.loc[df['Serial_Num'] == 'OC3CL200195', 'Temp']

In [ ]:
# It is possible to compare the value within the Series (i.e., a column) to a list of values or a single value. 
# The result is a boolean Series.

# Single value comparison
df['Serial_Num'] == 'OC3CL200195'

In [ ]:
# .loc method is used to access a group of rows and columns by label(s) or a boolean array.
df.loc[df['Serial_Num'] == 'OC3CL200195']

In [ ]:
# You can further select a specific column(s) from the filtered DataFrame
df.loc[df['Serial_Num'] == 'OC3CL200195', 'Temp']

In [ ]:
# Multiple values comparison
df['Serial_Num'].isin(['OC3CL200195', 'V02Q1940785'])

In [ ]:
df.loc[df['Serial_Num'].isin(['OC3CL200195', 'V02Q1940785'])]

In [ ]:
# You can plot the data using the .plot() method
df.loc[df['Serial_Num'] == 'OC3CL200195', 'Temp'].plot()

---
### *Exercise*

1. In the DataFrame `df`, select the records from the 'Hoegi-dong' and assign it to a new DataFrame `hoegi_df`. 
2. How many records are from the 'Hoegi-dong'? You can use .shape attribute and return the number of rows to a variable `hoegi_record`.

---

In [ ]:
# Your code here
hoegi_df = 

hoegi_record =

In [ ]:
""" Test code for the previous function. This cell should NOT give any errors when it is run."""

# Check your result here. 
assert type(hoegi_df) == pd.DataFrame
assert hoegi_df.shape == (150, 10)
assert hoegi_record == 150

print("Success!")

## 3. Mockup Analysis

We want to create a new DataFrame that contains the average temperature per day for each device(`Serial_Num`). The following is the steps for our mockup analysis.

#### Steps
* Create a new column named `Date` containing each date using YYYYMMDD format. 
* Calculate the average temperature per each Serial_Num and Date. 
* Create a new DataFrame that contains the average temperature per day for each device(`Serial_Num`).

#### Covered functions
* <a href=https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html?> df.astype() </a><br>
* <a href=https://pandas.pydata.org/docs/reference/api/pandas.Series.str.zfill.html> df.str.zfill() </a><br>
* <a href=https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html> df.dtypes </a><br>

### 3.1. Create a new column named `Date` containing each date using YYYYMMDD format.

In [ ]:
# You can simply add the columns together to create a new column
# However, you need to convert the columns to string before adding them together.
# The following `Date` column does not show what we want. 
df['Date'] = df['Year'] + df['Month'] + df['Day']
df

In [ ]:
# Checking the data types of the columns
# Year, Month, and Day are integers
df.dtypes

In [ ]:
# Convert the Year, Month, and Day columns to string
# But, hard to check if the conversion was successful
df['Year'] = df['Year'].astype(str)
df['Month'] = df['Month'].astype(str)
df['Day'] = df['Day'].astype(str)
df

In [ ]:
# Checking the data types of the columns
# Year, Month, and Day are strings
df.dtypes

#### Create leading zeros for the Month and Day columns

Leading zeros are zeros that appear at the beginning of a numerical value. For example, if you want to convert the number 1 to 01.

```python
df[`Column`] = df[`Column`].str.zfill(`The number of digits`)
```

Source: https://pandas.pydata.org/docs/reference/api/pandas.Series.str.zfill.html

In [ ]:
df['Month'].str.zfill(2)

In [ ]:
# Add the zero padding to the Month and Day columns
df['Month'] = df['Month'].str.zfill(2)
df['Day'] = df['Day'].str.zfill(2)
df

In [ ]:
# Now, you can add the columns together to create a new column
# The `Date` column shows the correct date
df['Date'] = df['Year'] + df['Month'] + df['Day']
df

### 3.2. Calculate the average temperature per each Serial_Num and Date

In [ ]:
# Select the rows with Serial_Num 'OC3CL200195' and Date '20230102'
# It is important to use parentheses to separate the conditions 
df.loc[(df['Serial_Num'] == 'OC3CL200195') & 
       (df['Date'] == '20230102')
       ]

In [ ]:
# You can further select a specific column(s) from the filtered DataFrame
df.loc[(df['Serial_Num'] == 'OC3CL200195') & (df['Date'] == '20230102'), 'Temp']

If you want to use `or` condition, you can use the `|` operator. 

```python
df.loc[(df[`Column1`] == `Value1`) | (df[`Column2`] == `Value2`)]
```

In [ ]:
# Calculate the average temperature
# You can also calculate the following statistics: .mean(), .median(), .std(), .min(), .max(), .sum()
df.loc[(df['Serial_Num'] == 'OC3CL200195') & (df['Date'] == '20230102'), 'Temp'].mean()

### 3.3. Create a new DataFrame that contains the average temperature per day for each device(`Serial_Num`).

#### Covered functions
* <a href=https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html> pd.DataFrame() </a><br>
* <a href=https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iterrows.html> DataFrame.iterrows() </a><br>

In [ ]:
# Create a new DataFrame with the unique Serial_Num as the index and the unique Date as the columns
daily_temp = pd.DataFrame(index=df['Serial_Num'].unique(), columns=df['Date'].unique())
daily_temp

In [ ]:
# You can iterate over the rows of the DataFrame using the .iterrows() method
# The .iterrows() method returns an iterator that yields pairs of (index, row) for each row in the DataFrame
for idx, row in daily_temp.head(3).iterrows():
    print(f"Serial Number: {idx}")
    print(row)
    print("-----------------")

In [ ]:
row.index

In [ ]:
# Iterate through the new DataFrame (empty)
for idx, row in daily_temp.iterrows():

    # Iterate through the columns of the row
    for date in row.index:

        # Filter the original DataFrame to get the temperature values
        temp = df.loc[(df['Serial_Num'] == idx) & 
                      (df['Date'] == date), 'Temp'
                      ]
        
        # Calculate the average temperature per Serial_Num and Date
        daily_temp.loc[idx, date] = temp.mean()

        # If you don't like the long decimals, you can round the values
        # daily_temp.loc[idx, date] = round(temp.mean(), 3)

daily_temp

## 4. Alternative way of the Mockup Analysis

By using the `groupby` function, we can simplify the process of calculating the average temperature per each Serial_Num and Date.

#### Covered functions
* <a href=https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html?> df.groupby() </a>
* <a href=https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html> pd.pivot_table() </a>
* <a href=https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.melt.html#pandas.DataFrame.melt> DataFrame.melt() </a>

In [ ]:
# You can also use the .groupby() method to group the data by Serial_Num and Date
df_gb_1 = df.groupby(['Serial_Num', 'Date'])['Temp'].mean()
df_gb_1

In [ ]:
type(df_gb_1)

In [ ]:
# You can convert the Series to a DataFrame using the .reset_index() method
df_gb_1.reset_index()

In [ ]:
# If there are multiple columns, you can use the .agg() method to aggregate the data
df_gb_2 = df.groupby(['Serial_Num', 'Date']).agg({'Temp': 'mean'})
df_gb_2

In [ ]:
type(df_gb_2)

In [ ]:
df_gb_2.reset_index()

In [ ]:
# You can use .pivot_table() to convert a long form to a wide form
pivot_test = df.groupby(['Serial_Num', 'Date']).agg({'Temp': 'mean'}).reset_index()

pivot_test = pd.pivot_table(pivot_test, 
                            values='Temp', 
                            index='Serial_Num', 
                            columns='Date') 
pivot_test

In [ ]:
melt_test = daily_temp.copy()
melt_test = melt_test.reset_index()
melt_test

In [ ]:
# df.melt() is used to transform or reshape data. It is used to change the DataFrame format from wide to long.
melt_result = melt_test.melt(id_vars='index', var_name='Date', value_name='Temp')
melt_result

In [ ]:
# Show results of daily temperature per Serial_Num

import matplotlib.pyplot as plt

fig, ax = plt.subplots(figsize=(12, 5))

daily_temp.transpose().plot(ax=ax)
ax.legend(bbox_to_anchor=(1, 1.05), fontsize='small')
plt.tight_layout()
plt.show()

# Done