# Python Basics: Data Type and Containers

This Jupyter notebook covers the basics of Python, particularly, data type and data containers.

## 1. Python Data Type

Python has a handful of data types to store data effectively and efficiently. The followings are the data type we will cover in this course. 

- String: str()
    - 'Hello world'
- Integer: int()
    - 1, 2, 3...
- Floating-point number: float()
    - 3.141592...
- Boolean: bool() 
    - True or False

The following is a quick example of how you assign variables in Python. <br> 
Note that we did not need to declare variable types. We could just assign anything to a variable and it works. This is the power of an interpreted (as opposed to compiled) language.

In [1]:
s = 'Hello world' # String
i = 1 # Integer
f = 3.141592 # Floating point number (float)
b = True

print(s, i, f, b)
print(type(s), type(i), type(f), type(b))

Hello world 1 3.141592 True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

### 1.1. String

Strings are made using various kinds of (matching) quotes. Examples:

In [2]:
s1 = 'hello'
s2 = "world"
s3 = '''strings can 
also go 'over'
multiple "lines".'''

print(s1)
print(s2)
print(s3)

hello
world
strings can
also go 'over'
multiple "lines".

You can also 'add' strings using 'operator overloading', meaning that the plus sign can take on different meanings depending on the data types of the variables you are using it on.

In [3]:
print(s1 + ' ' + s2)  # note, we need the space otherwise we would get 'helloworld'

hello world

Another methods of putting strings together is called 'formatted string literals' (also called f-strings for short).

In [4]:
# Here, we assign the string directly inside of the parenthesis.
print(f'{s1} {s2}') 
# The other method is to have numeric placeholders and assign text with .format() method. 
print('{0} {1}'.format(s1, s2))

hello world
hello world

---
### *Exercise*

1. Create two variables (or three if you have middle name), called `first` and `last`, and assign your first and last name, respectively. 
2. Comebine those two variables into a new variable and make a new variable called `name`. It should have a space between your first and last name.

---

In [ ]:
# Your code here

In [ ]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
print(f'{first} {last}')
print(name)

assert f'{first} {last}' == name
print("Success!")

Strings are 'objects' in that they have 'methods'. Methods are functions that act on the particular instance of a string object. You can access the methods by putting a dot after the variable name and then the method name with parentheses (and any arguments to the method within the parentheses). Methods always have to have parentheses, even if they are empty.

In [ ]:
s3.upper()

You may be curious about why we see the result like `'STRINGS CAN \nALSO GO \'OVER\'\nMULTIPLE "LINES".'`. A word with a backslash `\`, (e.g., `\n` or `\t`) is called escape characters, and is being used to include nonprintable characters in a string. For example, `\n` means a new line and `\t` means a tab. <br> <br>
We can remove the escape characters from displaying by using the `print()` function.

In [ ]:
print(s3.upper())

In [ ]:
print(s3.capitalize())

One of the most useful string methods is 'split' that returns a list of the words in a string, with all of the whitespace (actual spaces, newlines, and tabs) removed. More on lists next.

In [ ]:
s3.split('s')

In [ ]:
s3.split()

Another common thing that is done with strings is the join method. It can be used to join a sequence of strings given a common conjunction

In [ ]:
words = s3.split()
'_'.join(words)        # Here, we are using a method directly on the string '_' itself.

---
### *Exercise*

1. Create two more variables as shown below. 
```python
   course = 'GIS Project'
   semester = 'Spring 2025'
```
2. Print a sentence `[YOUR FIRST AND LAST NAME] is taking [COURSE] Course in [SEMESTER] Semester.`, by using f-string (formatted string literals). <br>
Note that you should NOT type capital letters for course and semester, but make them with the methods of string. <br>
<b>Expected result: </b><br>
`Jinwoo Park is taking GIS Project Course in Spring 2025 Semester.`

In [ ]:
# Your code here

### 1.2. Numeric types (i.e., Integer and Float)

In [ ]:
year = 2022  # if you assign INTEGER to a variable, the type will be an INTEGER
pi = 3.141592  # if you assign FLOAT to a variable, the type will be an FLOAT. 

print(year, type(year))
print(pi, type(pi))

You can use the following arithmetic operator in Python. 

| Name | Operator | Example |
| --- | --- | --- |
| Addition | + | x + y |
| Subtraction | - | x - y |
| Multiplication | * | x * y |
| Division | / | x / y |
| Exponentiation | ** | x ** y |
| Floor division | // | x // y |
| Modulus | % | x % y |

In [ ]:
aa = 25
bb = 3

print(f'Addition:        {aa} + {bb} = {aa + bb}') 
print(f'Subtraction:     {aa} - {bb} = {aa - bb}') 
print(f'Multiplication:  {aa} * {bb} = {aa * bb}') 
print(f'Division:        {aa} / {bb} = {aa / bb}') 
print(f'Exponentiation:  {aa} ** {bb} = {aa ** bb}') 
print(f'Floor division:  {aa} // {bb} = {aa // bb}') 
print(f'Modulus:         {aa} % {bb} = {aa % bb}')

If you sum an integer and a float, its type will be float, regardless of the result of the sum.

In [ ]:
n1 = 1
n2 = 1.0
n3 = n1 + n2
print(n3, type(n3))

You can easily change the type of numerical variables with `int()` and `float()`. <br>
Note that `int()` will only keep the integer part of float (e.g., 3.141592 -> 3).

In [ ]:
# From integer to float
print(n1, type(n1))

n4 = float(n1)
print(n4, type(n4))

# From float to integer
print(pi, type(pi))

n5 = int(pi)
print(n5, type(n5))

If you don't want to round the number, instead of just loosing decimal points, use function `round()`.

In [ ]:
# round(number, digit) takes two arguments. 
# The first is the number to be rounded, the second is the number of decimals (default is 0).
print(round(pi, 1))  
print(round(pi, 2))
print(round(pi, 3))
print(round(pi, 4))
print(round(pi, 5))

---
### *Exercise*

1. Calculate the perimeter and the area of a circle with a radius of 5 (You can use pi assigned in the previus cell). <br><br>
$$ C = 2 \pi r $$
$$ A = \pi r ^2 $$


2. Assign the perimeter and the area to C and A, respectively. 

---

In [ ]:
# Your code here

In [ ]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
print(f'Perimeter of a circle: {C}')
print(f'Area of a circle: {A}')

assert round(C, 2) == 31.42
assert round(A, 2) == 78.54
print("Success!")

### 1.3. Boolean 

A `Boolean` variable denotes ture or false values based on two case-sensitive keywords, `True` and `False`.

In [ ]:
b1 = True
b2 = False
print(b1, b2)

Note that `True` is NOT equal to `'True'`. `'True'` is a string, not a boolean.

In [ ]:
print(f'Type of True: {type(True)}')
print(f'Type of "True": {type("True")}')

Each data type of Python has a representation of boolean. For example, numereical value 0 is `False`, but other numbers are `True`. In addition, empty string (e.g., `''`) is `False`, but nonempty string is `True`.

In [ ]:
# Integer / Float
print(bool(0)) 
print(bool(1)) 
print(bool(-1.8))
print(bool(100))

In [ ]:
# String
print(bool(''))
print(bool('Something'))
print(bool('Words'))

The variable type, Boolean, is usually used for testing conditions, rather than storing True and False. 
<br><br>
We can test the values of variables using different operators. These tests return a `Boolean` value. Either `True` or `False`. `False` is the same as zero, `True` is nonzero. Note that assignment `=` is different than a test of equality `==`.

In [ ]:
a = 5

In [ ]:
a < 99

In [ ]:
a > 99

In [ ]:
a == 5.

These statements have returned "booleans", which are True and False only. These are commonly used to check for conditions within a script or function to determine the next course of action.

NOTE: booleans are NOT equivalent to a string that says "True" or "False". We can test this:

In [ ]:
True == 'True'

There are other things that can be tested, not just mathematical equalities. For example, to test if an element is inside of a list or string (or any sequence, more on sequences below..), do

In [ ]:
foo = [1, 2, 3, 4, 5 ,6] # List
5 in foo

In [ ]:
'this' in 'What is this?'

In [ ]:
'that' in 'What is this?'

## 2. Containers

- List: list()
    - [variable1, variable2, variable3...]
- Tuple: tuple()
    - (variable1, variable2, variable3...)
- Dictionary: dict()
    - {key1: value1, key2: value2, key3: value3 ...}

Often you need lists or sequences of different values (e.g., a timeseries of temperature – a list of values representing the temperature on sequential days). There are three containers in the core python language. There are a few more specialized containers (e.g., numpy arrays and pandas dataframes) for use in scientific computing that we will learn much more about later; they are very similar to the containers we will learn about here.

### 2.1. List

Lists are perhaps the most common container type. They are used for sequential data. Create them with square brackets with comma separated values within:

In [1]:
foo = [1., 2., 3, 'four', 'five', [6., 7., 8], 'nine']
type(foo)

list

Note that lists (unlike arrays, as we will later learn) can be heterogeneous. That is, the elements in the list don't have to have the same kind of data type. Here we have a list with floats, ints, strings, and even another (nested) list!

We can retrieve the individual elements of a list by 'indexing' the list. We do this with square brackets, using zero-based indexes – that is 0 is the first element – as such:

In [2]:
foo[0]

1.0

In [3]:
foo[5]  # Nested list (a list in a list)

[6.0, 7.0, 8]

In [4]:
foo[5][1]  # Python is sequential, we can access an element within an element using sequential indexing.

7.0

In [5]:
foo[-1]    # This is the way to access the last element.

'nine'

In [6]:
foo[-3]    # ...and the third to last element

'five'

In [7]:
foo[-3][2]   # we can also index strings.

'v'

We can get a sub-sequence from the list by giving a range of the data to extract. This is done by using the format

    start:stop:stride

where `start` is the first element, up to but not including the element indexed by `stop`, taking every `stride` elements. The defaluts are start at the beginning, include through the end, and include every element. 

The up-to-but-not-including part is confusing to first time Python users, but makes sense given the zero-based indexing. For example, `foo[:10]` gives the first ten elements of a sequence.

In [8]:
# create a sequence of 10 elements, starting with zero, up to but not including 10.
bar = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# or you can use function range(start, end, step) to create the same list
bar_ = list(range(0, 10, 1))
print(bar)
print(bar_)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
bar[2:5]

[2, 3, 4]

In [10]:
bar[:4]

[0, 1, 2, 3]

In [11]:
bar[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
bar[::2]

[0, 2, 4, 6, 8]

In [13]:
bar[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

---
###  *Exercise*

1. Create a list `list1` with the ragne from 0 to 9. BUT, DO NOT list off every variables (i.e., 0, 1, 2 ...)
2. Use list indexing to obtain `[3, 4, 5]`, and save the result as `list2`. 
3. Use list indexing to obtain `[2, 5, 8]`, and save teh result as `list3`.
---

In [ ]:
# Your code here

In [ ]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
assert list1 == [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
assert list2 == [3, 4, 5]
assert list3 == [2, 5, 8]

print("Success!")

---
### *Exercise*

What other methods are there? <br>
Type the list name (e.g., `bar` or `list1`) and then add `.` after the list name and press `<TAB>`. <br>
This will show the possible completions, which in this case is a list of the methods and attributes. You can get help on a method by typing, for example, `bar.pop?`.  The text in the help file is called a `docstring`; as we will see below, you can write these for your own functions.

> See if you can use these four methods of the list instance `bar`:

            1. append
            2. pop
            3. index
            4. count


---

In [ ]:
# Your code here

In [ ]:
# Append method will append varaible to the list
print(bar)
bar.append(10)
print(bar)

In [ ]:
# Pop method will pop up a value with an index, and the popped up value will be removed the list.
print(bar)
print(bar.pop(3))
print(bar)

In [ ]:
# Index method will return the index (location) of the value entered. 
print(bar)
print(bar.index(4))
print(bar.index(3))

In [ ]:
# Count method will count the value entered in the list. 
print(bar)
print(bar.count(0))
print(bar.count(3))

### 2.2. Tuples

Tuples (pronounced too'-puls) are sequences that can't be modified, and don't have methods. Thus, they are designed to be immutable sequences. They are created like lists, but with parentheses instead of square brackets.

In [ ]:
bar = list(range(0, 10, 1))
print(bar)
bar[3] = -999
print(bar)

In [ ]:
foo = (3, 5, 7, 9)
foo[2] = -999  # gives an assignment error. Commented so that all cells run.

### 2.3. Dictionaries

Dictionaries are used for unordered sequences that are referenced by arbitrary 'keys' instead of by a (sequential) index. Dictionaries are created using curly braces with keys and values separated by a colon, and key:value pairs separated by commas, as

In [ ]:
dict_car = {
    "brand" : "Hyundai",
    "model" : "Santa Fe",
    "year"  : 2024
}
print(dict_car)

Elements are referenced and assigned by keys:

In [ ]:
dict_car['brand']

In [ ]:
dict_car['model']

The sets of a key and a value can be added or replaced as follows.

In [ ]:
# Add value with a key
dict_car['color'] = 'Grey'
print(dict_car)

In [ ]:
# Replacing value with a key
print(dict_car['year'])
dict_car['year'] = list(range(2010, 2025, 1)) # [2010, 2011, 2012, 2013, ... ]
print(dict_car['year'])

The keys and values can be extracted as lists using methods of the dictionary class.

In [ ]:
dict_car.keys()

In [ ]:
dict_car.values()

---
### *Exercise*

1. Create a dictionary variable with at least 3 entries. <br>
   The entry keys should be the first name of people around you in the class, 
   and the value should be their favorite food.

2. Explore the methods of the dictionary object, as was done with the list instance in the previous exercise. <br>
   Hint: add `.` at the end of dictionary and press `<TAB>`.


---

In [ ]:
# Your code here

# Done